body {
    font-family: Verdana;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 100;
    background-color: dodgerblue;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav > a:first-child{
    flex: 1;
    font-size: 2rem;
}

nav > div {
    flex: 4;
    display: flex;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
}

h2, h4 {
    color: rgb(101, 101, 101);
}

form {
    display: flex;
    align-self: center;
    flex-direction: column;
    border: solid 1px black;
    border-radius: .5rem;
    padding: 1rem;
    width: 60%
}

form > div {
    display: flex;
    padding: 1rem 1rem 0rem 0rem;
}

form label {
    font-weight: 600;
    font-size: small;
}

p {
    font-weight: 400;
}

.selected {
    font-weight: 700;
}

/* #create-user {
    display: flex;
    justify-content: space-around;
} */

#main-title {
    padding-left: 1rem;
}

#user-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#user-cards > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    border: solid 1px black;
    border-radius: 1rem;
    width: calc(100% / 3 - 6rem);
    
}

@media (max-width: 600px) {
    #user-cards > div {
        width: 100%;
    }
}

@media (max-width: 400px) {
    nav > div {
        flex-direction: column;
        align-items: flex-end;
    }
}